@import url("https://fonts.googleapis.com/css?family=Montserrat|Oswald&display=swap");
.nav-title {
  color: #f94d6a !important;
  font-family: "Montserrat";
  margin-left: 50px;
  font-size: 30px;
}
.nav-logo {
  color: #fff !important;
  font-family: "Montserrat";
}
