.card {
    background: #261F2D !important;
    color: #fff;
    width: auto;
    margin-top: 10px;
    cursor: pointer;
}

.article-date{
    font-size: 12px;
}

.article-author {
    font-size: 12px;
}