/* You can add global styles to this file, and also import other style files */
.navbar {
  background: #19171f !important;
}

.body-dark {
  background: #3f2844;
}

.btn-primary {
  background: #f94d6a;
  color: #fff !important;
  border: none;
}

.btn-primary:hover {
  background: #fff;
  color: #f94d6a !important;
}
